
.wrapper {
	width: 100%;
	overflow: hidden;
}

.wrapper-1 {
	width: 100%;
}

.clear {
	clear: both;
	font-size: 0%;
	line-height: 0%;
	height: 0;
}

/* input, select 
{
	vertical-align: middle;
	font-weight: normal;
}	*/

input[type="text"] 
{
	height:26px;
    width: 200px;
    border: 1px solid #CCC;
}

img {
	border: 0;
	vertical-align: top;
	text-align: left;
}

ul, ol {
	list-style: none;
}

object {
	vertical-align: top;
	outline: none;
}

a {
	outline: none;
	color: #65aa2c;
}

	a:hover {
		text-decoration: none;
	}

html {
	min-width: 980px;
}

body {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.2em;
	color: #393939;
}

h2 {
	width: 100%;
	overflow: hidden;
	padding: 0 0 7px 0;
	letter-spacing: -1px;
	line-height: 1.2em;
	text-transform: uppercase;
	font-size: 2.25em;
	font-weight: 700;
	color: #fff;
}

	h2 span {
		display: block;
		margin: -6px 0 0 0;
		line-height: 1.2em;
		font-size: 1.074em;
		font-weight: 700;
		text-transform: none;
	}

	h2 img {
		float: left;
		margin: 0 5px 0 0;
	}

	h2.extra {
		padding: 0 0 4px 0;
	}
	
	h2 strong {
		display: block;
		padding: 0 0 8px 0;
	}
	
	h2 em {
		display: block;
		padding: 0 0 8px 5px;
		font-style: normal;
	}

h3 {
	background: url(images/title-tail.gif) repeat-x 0% 0%;
	width: 100%;
	height: 30px;
	overflow: hidden;
	margin: 0 0 19px 0;
	line-height: 28px;
	font-size: 1.417em;
	text-transform: uppercase;
	color: #fff;
}

	h3 span {
		background: url(images/title-left.gif) no-repeat 0% 0%;
		display: block;
	}
	
		h3 span span {
			background: url(images/title-right.gif) no-repeat 100% 0%;
			display: block;
			height: 30px;
			overflow: hidden;
			padding: 0 10px 0 10px;
		}
		
	h3 img {
		float: right;
		margin: 0 -10px 0 0;
	}
	
	h3.extra {
		margin: 0 0 14px 0;
	}
	
	h3.extra1{
		margin: 0 0 12px 0;
	}

h5 {
	padding: 0 0 10px 0;
	line-height: 1.5em;
	font-size: 1em;
	color: #65aa2c;
}

	h5 strong {
		display: block;
		padding: 0 0 7px 0;
	}
	
	h5 small {
		float: right;
		font-size: 1em;
	}

h6 {
	padding: 0 0 1px 0;
	line-height: 1.5em;
	font-size: 1em;
	color: #fff;
}

	h6 strong {
		display: block;
		padding: 0 0 10px 0;
	}

.fleft {
	float: left;
}

.fright {
	float: right;
}

	ul.fright {
		padding: 0 49px 0 0;
	}

.col-1, .col-2, .col-3, .col-4 {
	float: left;
	overflow: hidden;
}

.block-1, .block-2, .block-3, .block-4 {
	float: left;
	overflow: hidden;
}

#main {
	/* background: url(images/main.jpg) no-repeat 0% 0%; */
	width: 920px;
	margin: 0 auto;
	/* font-size: 0.75em; */
}

#header {
	position: relative;
	height: 110px;
}

#logo {
	position: absolute;
	top: 2px;
	left: 13px;
}

#navi {
	position: absolute;
	top: 37px;
	right: 17px;
}

	#navi li {
		float: left;
		padding: 0 0 0 15px;
		line-height: 1.5em;
		color: #141414;
	}
	
		#navi li a {
			text-decoration: none;
			color: #141414;
		}
		
		#navi li a:hover {
			text-decoration: underline;
		}

#menu {
	background: url(images/menu.gif) no-repeat 0% 0%;
	width: 896px;
	height: 39px;
	overflow: hidden;
	position: absolute;
	top: 70px;
	left: 12px;
}

	#menu ul li 
	{
		float: left;
		line-height: 38px;
		text-transform: uppercase;
		font-size: 1.25em;
		color: #fff;
	}
	
		#menu ul li a {
			display: block;
			height: 39px;
			padding: 0 18px 0 20px;
			float: left;
			text-decoration: none;
			color: #fff;
		}
		
		#menu ul li a:hover {
			background: url(images/menu-act.gif) repeat-x 0% 0%;
		}
		
			#menu ul li a:hover span {
				background: url(images/menu-act-left.gif) no-repeat 0% 0%;
				display: inline-block;
				height: 39px;
				margin: 0 0 0 -20px;
				padding: 0 0 0 20px;
				cursor: pointer;
			}
			
		#menu ul li.act a {
			background: url(images/menu-act.gif) repeat-x 0% 0%;
		}
		
			#menu ul li.act a span {
				background: url(images/menu-act-left.gif) no-repeat 0% 0%;
				display: inline-block;
				height: 39px;
				margin: 0 0 0 -20px;
				padding: 0 0 0 20px;
				cursor: pointer;
			}

#search-form {
	background: url(images/search-input.gif) no-repeat 0% 0%;
	width: 265px;
	height: 26px;
	overflow: hidden;
	position: absolute;
	top: 76px;
	right: 19px;
}

	#search-form input {
		background: none;
		width: 188px;
		height: 16px;
		padding: 5px 5px 5px 5px;
		border: none;
		float: left;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1em;
		color: #000;
	}
	
	#search-form input#search-submit {
		background: url(images/search-submit.gif) no-repeat 0% 0%;
		width: 67px;
		height: 26px;
		padding: 0;
		border: none;
		float: left;
		cursor: pointer;
	}

#slogan {
	position: absolute;
	z-index:99;
	top: 270px;
	left: 204px;
}

.slideShow{ position:absolute; top:195px; left:12px;}
.slides{ width:896px; height:409px; overflow:hidden}

a.togglePlayback{ position:absolute;  z-index:99; left:830px; top:260px;}

#head-button {
	background: url(images/head-button.gif) no-repeat 0% 0%;
	display: block;
	width: 102px;
	height: 44px;
	overflow: hidden;
	line-height: 30px;
	font-size: 1.5em;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	color: #fff;
	position: absolute;
	top: 373px;
	left: 650px;
	z-index:99;
}

	#head-button:hover {
		color: #000;
	}

#content {
	padding: 0 0 8px 1px;
}

.row-1 {
	width: 100%;
	overflow: hidden;
}

	.row-1 p {
		padding: 0 0 10px 0;
		line-height: 1.5em;
		font-size: 1em;
		color: #fff;
	}
	
	.row-1 p.extra {
		padding: 0 0 9px 0;
	}
	
		.row-1 p big {
			display: block;
			padding: 0 15px 1px 0;
			text-align: right;
			font-size: 1em;
			font-weight: bold;
			color: #fff;
		}
		
			.row-1 p big a {
				text-decoration: none;
				color: #fff;
			}
			
			.row-1 p big a:hover {
				text-decoration: underline;
			}

.row-2 {
	width: 100%;
	overflow: hidden;
}

	.row-2 p {
		padding: 0 0 12px 0;
		line-height: 1.5em;
		font-size: 1em;
		color: #848282;
	}
	
		.row-2 p a {
			color: #65aa2c;
		}
		
	.row-2 p.extra {
		padding: 0 0 23px 0;
	}
	
	.row-2 p.extra1 {
		padding: 0 0 18px 0;
	}
	
	.row-2 p.extra2 {
		padding: 0 0 9px 0;
	}
	
		.row-2 p b {
			color: #65aa2c;
		}
		
			.row-2 p b a {
				text-decoration: none;
				color: #65aa2c;
			}
			
			.row-2 p b a:hover {
				text-decoration: underline;
			}

.box {
	width: 100%;
	overflow: hidden;
}

	.box .border-top {
		background: #fff url(images/border-top.gif) repeat-x 0% 0%;
	}
	
	.box .border-bot {
		background: url(images/border-bot.gif) repeat-x 0% 100%;
	}
	
	.box .border-left {
		background: url(images/border-left.gif) repeat-y 0% 0%;
	}
	
	.box .border-right {
		background: url(images/border-right.gif) repeat-y 100% 0%;
	}
	
	.box .corner-top-left {
		background: url(images/corner-top-left.gif) no-repeat 0% 0%;
	}
	
	.box .corner-top-right {
		background: url(images/corner-top-right.gif) no-repeat 100% 0%;
	}
	
	.box .corner-bot-left {
		background: url(images/corner-bot-left.gif) no-repeat 0% 100%;
	}
	
	.box .corner-bot-right {
		background: url(images/corner-bot-right.gif) no-repeat 100% 100%;
		width: 100%;
	}
	
	.box .inner {
		padding: 33px 43px 42px 44px;
	}
	
	.box .inner-1 {
		padding: 0 43px 0 29px;
	}
	
	.box .inner-2 {
		padding: 33px 43px 0 44px;
	}
	
	.box .inner-3 {
		padding: 0 43px 0 44px;
	}
	
	.box .inner-4 {
		padding: 33px 41px 42px 44px;
	}
	
	.box .inner-5 {
		padding: 33px 43px 38px 44px;
	}

.box-1 {
	background: url(images/box-tail1.jpg) repeat-y 0% 0%;
}

	.box-1 .top {
		background: url(images/box-top1.jpg) no-repeat 0% 0%;
	}
	
	.box-1 .bot {
		background: url(images/box-bot1.jpg) no-repeat 0% 100%;
		width: 100%;
	}
	
	.box-1 .inner {
		padding: 26px 30px 25px 38px;
	}

.box-2 {
	background: url(images/box-tail2.jpg) repeat-y 0% 0%;
}

	.box-2 .top {
		background: url(images/box-top2.jpg) no-repeat 0% 0%;
	}
	
	.box-2 .bot {
		background: url(images/box-bot2.jpg) no-repeat 0% 100%;
		width: 100%;
	}
	
	.box-2 .inner {
		padding: 26px 30px 25px 38px;
	}

.box-3 {
	background: url(images/box-tail3.jpg) repeat-y 0% 0%;
}

	.box-3 .top {
		background: url(images/box-top3.jpg) no-repeat 0% 0%;
	}
	
	.box-3 .bot {
		background: url(images/box-bot3.jpg) no-repeat 0% 100%;
		width: 100%;
	}
	
	.box-3 .inner {
		padding: 26px 30px 29px 38px;
	}

.box-4 {
	background: url(images/box-tail4.jpg) repeat-y 0% 0%;
}

	.box-4 .top {
		background: url(images/box-top4.jpg) no-repeat 0% 0%;
	}
	
	.box-4 .bot {
		background: url(images/box-bot4.jpg) no-repeat 0% 100%;
		width: 100%;
	}
	
	.box-4 .inner {
		padding: 26px 30px 25px 38px;
	}

.box-5 {
	background: url(images/box-tail5.jpg) repeat-y 0% 0%;
}

	.box-5 .top {
		background: url(images/box-top5.jpg) no-repeat 0% 0%;
	}
	
	.box-5 .bot {
		background: url(images/box-bot5.jpg) no-repeat 0% 100%;
		width: 100%;
	}
	
	.box-5 .inner {
		padding: 26px 30px 25px 38px;
	}

.box-7 {
	background: url(images/box-tail7.jpg) repeat-y 0% 0%;
}

	.box-7 .top {
		background: url(images/box-top7.jpg) no-repeat 0% 0%;
	}
	
	.box-7 .bot {
		background: url(images/box-bot7.jpg) no-repeat 0% 100%;
		width: 100%;
	}
	
	.box-7 .inner {
		padding: 26px 30px 25px 37px;
	}

.box-10 {
	overflow: hidden;
	margin: 0 0 20px 0;
}

	.box-10 .border-top {
		background: #e8ffab url(images/border-top10.gif) repeat-x 0% 0% !important;
	}
	
	.box-10 .border-bot {
		background: url(images/border-bot10.gif) repeat-x 0% 100% !important;
	}
	
	.box-10 .border-left {
		background: url(images/border-left10.gif) repeat-y 0% 0% !important;
	}
	
	.box-10 .border-right {
		background: url(images/border-right10.gif) repeat-y 100% 0% !important;
	}
	
	.box-10 .corner-top-left {
		background: url(images/corner-top-left10.gif) no-repeat 0% 0% !important;
	}
	
	.box-10 .corner-top-right {
		background: url(images/corner-top-right10.gif) no-repeat 100% 0% !important;
	}
	
	.box-10 .corner-bot-left {
		background: url(images/corner-bot-left10.gif) no-repeat 0% 100% !important;
	}
	
	.box-10 .corner-bot-right {
		background: url(images/corner-bot-right10.gif) no-repeat 100% 100% !important;
		width: 100%;
	}
	
	.box-10 .inner {
		position: relative;
		padding: 19px 20px 24px 39px !important;
	}
	
	.box-10 .inner-1 {
		position: relative;
		padding: 19px 20px 34px 39px !important;
	}
	
	.box-10 strong {
		display: block;
		line-height: 1.5em;
		font-size: 1em;
		color: #65aa2c;
	}
	
	.box-10 p {
		padding: 0 !important;
		line-height: 1.5em !important;
		font-size: 1em !important;
		font-style: italic !important;
		color: #65aa2c !important;
	}
	
	.box-10 span a {
		background: url(images/arrow.gif) no-repeat 0% 0%;
		display: block;
		width: 6px;
		height: 11px;
		overflow: hidden;
		position: absolute;
		right: 14px;
		bottom: 15px;
	}

.list {
	padding: 0 0 8px 0;
	overflow: hidden;
}

	.list li {
		background: url(images/marker.gif) no-repeat 0% 8px;
		padding: 0 0 0 20px;
		line-height: 2em;
		font-size: 1em;
		font-weight: bold;
		color: #fff;
	}
	
		.list li a {
			text-decoration: none;
			color: #fff;
		}
		
		.list li a:hover {
			text-decoration: underline;
		}

.list-1 {
	margin: 0 0 -2px 0;
	overflow: hidden;
}

	.list-1 li {
		padding: 0 0 18px 0;
		line-height: 1.5em;
		font-size: 1em;
		color: #848282;
	}
	
		.list-1 li a {
			color: #65aa2c;
		}

.list-2 {
	padding: 0 0 23px 0;
	overflow: hidden;
}

	.list-2 li {
		background: url(images/marker-1.gif) no-repeat 0% 8px;
		padding: 0 0 0 20px;
		line-height: 2em;
		font-size: 1em;
		font-weight: bold;
		color: #65aa2c;
	}
	
		.list-2 li a {
			text-decoration: none;
			color: #65aa2c;
		}
		
		.list-2 li a:hover {
			text-decoration: underline;
		}

.list-3 {
	margin: 0 0 -31px 0;
	padding: 3px 0 0 0;
	overflow: hidden;
}

	.list-3 li {
		width: 100%;
		padding: 0 0 31px 0;
		overflow: hidden;
		vertical-align: top;
		line-height: 1.5em;
		font-size: 1em;
		color: #848282;
	}
	
		.list-3 li img {
			float: left;
			margin: 0 21px 0 0;
		}
		
		.list-3 li p {
			padding: 5px 0 24px 0 !important;
		}
		
			.list-3 li p strong a {
				text-decoration: none;
				color: #65aa2c;
			}
			
			.list-3 li p strong a:hover {
				text-decoration: underline;
			}

.list-4 {
	width: 100%;
	margin: 0 0 -28px 0;
	overflow: hidden;
}

	.list-4 li {
		float: left;
		padding: 0 31px 28px 0;
	}
	
	.list-4 li.extra {
		padding: 0 0 28px 0;
	}

.list-5 {
	margin: 0 0 -4px 0;
	overflow: hidden;
}

	.list-5 dt {
		line-height: 1.5em;
		font-size: 1em;
		font-weight: bold;
		color: #fff;
	}
	
		.list-5 dt a {
			text-decoration: none;
			color: #fff;
		}
		
		.list-5 dt a:hover {
			text-decoration: underline;
		}
		
	.list-5 dd {
		padding: 0 0 18px 0;
		line-height: 1.5em;
		font-size: 1em;
		color: #fff;
	}

.list-6 {
	margin: 0 0 -30px 0;
	overflow: hidden;
}

	.list-6 dt {
		line-height: 1.5em;
		font-size: 1em;
		font-weight: bold;
		color: #65aa2c;
	}
	
	.list-6 dd {
		padding: 0 0 30px 0;
		line-height: 1.5em;
		font-size: 1em;
		color: #848282;
	}
	
		.list-6 dd small {
			float: right;
			padding: 0 2% 0 0;
			font-size: 1em;
		}

.indent-left {
	padding: 0 0 0 6px;
}

.link {
	background: url(images/link-left.png) no-repeat 0% 0%;
	display: inline-block;
	height: 34px;
	float: left;
	margin: 0 0 0 3px;
	overflow: hidden;
	line-height: 30px;
	text-transform: uppercase;
	text-decoration: none;
	color: #929292;
}

	.link span {
		background: url(images/link-right.png) no-repeat 100% 0%;
		display: inline-block;
	}
	
		.link span span {
			background: url(images/link-tail.png) repeat-x 0% 0%;
			display: inline-block;
			height: 34px;
			overflow: hidden;
			margin: 0 8px;
			padding: 0 4px 0 4px;
			float: left;
		}
		
		.link:hover {
			cursor: pointer;
			color: #000;
		}

.link-1 {
	background: url(images/link-tail.gif) repeat-x 0% 0%;
	display: inline-block;
	height: 26px;
	float: left;
	overflow: hidden;
	line-height: 24px;
	text-transform: uppercase;
	text-decoration: none;
	color: #989898;
}

	.link-1 span {
		background: url(images/link-left.gif) no-repeat 0% 0%;
		display: inline-block;
	}
	
		.link-1 span span {
			background: url(images/link-right.gif) no-repeat 100% 0%;
			display: inline-block;
			height: 26px;
			overflow: hidden;
			padding: 0 9px 0 11px;
		}
		
		.link-1:hover span span {
			cursor: pointer;
			color: #000;
		}

.indent-bot {
	margin: 0 0 13px 0;
}

#contact-form {
	width: 218px;
}

	#contact-form label {
		background: url(images/contact-input.gif) no-repeat 0% 0%;
		display: block;
		width: 100%;
		height: 40px;
		overflow: hidden;
	}
	
	#contact-form strong {
		background: url(images/contact-textarea.gif) no-repeat 0% 0%;
		display: block;
		width: 218px;
		height: 138px;
		overflow: hidden;
		font-weight: normal;
	}
	
	#contact-form input {
		background: none;
		width: 194px;
		height: 15px;
		padding: 6px 12px 6px 12px;
		border: none;
		float: left;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1em;
		font-style: italic;
		color: #65aa2c;
	}
	
	#contact-form textarea {
		background: none;
		width: 194px;
		height: 126px;
		padding: 6px 12px 6px 12px;
		border: none;
		float: left;
		overflow: auto;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1em;
		font-style: italic;
		color: #65aa2c;
	}
	
	#contact-form a {
		background: url(images/link-tail.gif) repeat-x 0% 0%;
		display: inline-block;
		height: 26px;
		float: right;
		margin: 22px 0 0 9px;
		overflow: hidden;
		line-height: 24px;
		text-transform: uppercase;
		text-decoration: none;
		color: #989898;
	}
	
		#contact-form a span {
			background: url(images/link-left.gif) no-repeat 0% 0%;
			display: inline-block;
		}
		
			#contact-form a span span {
				background: url(images/link-right.gif) no-repeat 100% 0%;
				display: inline-block;
				height: 26px;
				overflow: hidden;
				padding: 0 9px 0 11px;
			}
			
			#contact-form a:hover span span {
				cursor: pointer;
				color: #000;
			}

.no-indent {
	margin: 0 !important;
	padding: 0 !important;
}

#footer {
	background: url(images/footer.gif) no-repeat 0% 0%;
	height: 86px;
	overflow: hidden;
	padding: 0 34px 0 23px;
}

	#footer p {
		float: right;
		padding: 23px 0 0 0;
		line-height: 1.5em;
		font-size: 1em;
		color: #141414;
	}
	
		#footer p a {
			margin: 0 0 0 9px;
			text-decoration: none;
			color: #65aa2c;
		}
		
		#footer p a:hover {
			text-decoration: underline;
		}
		
#icons {
	float: left;
	padding: 24px 0 0 0;
}

	#icons li {
		float: left;
		padding: 0 3px 0 0;
	}
	
#menu-bot {
	float: left;
	padding: 27px 0 0 14px;
}

	#menu-bot li {
		float: left;
		padding: 0 21px 0 0;
		line-height: 1.25em;
		font-size: 1em;
		color: #898989;
	}
	
		#menu-bot li a {
			text-decoration: none;
			color: #898989;
		}
		
		#menu-bot li a:hover {
			text-decoration: underline;
		}