@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Enter your email address below click reset and wait for the password reset email. That easy.</p>

@using (Html.BeginForm())
{

    @Html.TextBox("UserEmailAddress", null, new { @Style = "width:320px;" }) <input type="submit" id="ResetPassword" value="Reset password" />

}


<script type="text/javascript">
    $(function () {
        $("#ResetPassword").button();
    });
</script>

