@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="float:left; width:200px;">
    <img src="@Url.Content("~/Content/Images/img1_4.jpg")" /> 
</div>

<div style="float:left;">
@using (Html.BeginForm())
{
    <div style="padding-left:10px; padding-top:40px;">
        <div>Account email address</div>

        @Html.TextBox("UserEmailAddress", null, new { @Style = "width:300px" }) <input type="submit" id="ResetPassword" value="Reset password" />
    </div>
}
</div>

<script type="text/javascript">
    $(function () {
        $("#ResetPassword").button();
    });
</script>

