@model BetterTaskList.Models.Ticket
           
 @if (!string.IsNullOrEmpty(@Model.TicketResolutionDetails))
    {
            <div style="float:left; padding:4px 4px 0px 2px;">
            <a href="@Url.Action("Profile", "Home", new { area = "", id = Model.TicketResolvedByUserId })" >
                <img src="@Url.Content(BetterTaskList.Helpers.UserHelpers.GetUserAvatarUrl(Model.TicketResolvedByUserId.Value, "64x64"))" height="64px" width="64px" alt="action avatar" />
            </a> 
            </div>

            <div style="float:right; background-color:#000; color:#FFF; padding:2px;">
            TICKET CLOSED
            </div>

            <p>@Html.Raw(Model.TicketResolutionDetails)</p>
           
    }
       

