
   @using (Html.BeginForm("ResolveAndClose", "Ticket", new { area="Projects", id = Model.TicketId }, FormMethod.Post))
    {	
        @Html.TextArea("TicketResolutionDetails")
        <div style="text-align:right; padding-top:2px; ">
            <input id="SubmitResolution" type="submit" value="Submit Resolution" />
        </div>
    }   

