<head>
    <style type="text/css">
        .style1
        {
            width: 20px;
        }
    </style>
</head>
<table style="width: 100%; font-family:Georgia; font-size: 15px;">
    <tr>
        <td colspan="3" 
            
            style="color: #FFFFFF; font-size: 15px; background-color: #34A7E0; padding-top: 4px; padding-bottom: 4px;">
            Progress - Coworker request</td>
    </tr>
    <tr>
        <td class="style1">
            &nbsp;
        </td>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            Hello,</td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="style1">
            &nbsp;
        </td>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            {FullName}</strong> would like to add you as a coworker. To approve the request click on the link below.</td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="style1">
            &nbsp;</td>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            {ApplicationUrl}/Home/ConfirmCoWorker/{CoWorkerId}</td>
        <td>
            &nbsp;</td>
    </tr>
</table>
