<div style="font-family:Segoe UI; height:40px; background-color:#141414; color:#FFFFFF; padding-left:16px;"><h2>Password reset</h2></div>
<div style="font-family:Segoe UI;background-color:#FCF0BA; border:1px solid #E8E1B5; padding-left:16px;">

<div><p>{FirstName},</p>
<p>Your request to reset your password was successful. Login now using <strong>{NewPassword}</strong></p>

</div>

<div style="text-align:right; padding-bottom: 4px; padding-right:4px;">
<img src="http://localhost/BetterTaskList/Content/Images/logo.gif" />
</div>

</div>
