<head>
    <style type="text/css">
        .style1
        {
            width: 20px;
        }
    </style>
</head>
<table width="100%" style="border: 1px solid #DDDDDD; font-family:Georgia; font-size: 15px;">
    <tr>
        <td style="color: #FFFFFF; background-color: #34A7E0; padding-top: 4px; padding-bottom: 4px;">
            Progress - Status Post</td>
    </tr>
    <tr>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            {StatusOwnerFirstName},</td>
    </tr>
    <tr>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            {StatusMessage}</td>
    </tr>
    <tr>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            {ApplicationUrl}/Home/WallPost/?sid={StreamId}</td>
    </tr>
</table>
