<div style="float: left; font-family:Tahoma; font-size:12px; width: 100%; border: 1px solid #000;">
  
    <div style="height: 18px; background-color: #141414; color: #FFFFFF;"><strong>Ticket #{TicketId} - {TicketSubject}</strong></div>
    <div style="padding-left:10px;"><p>{FullName},</p></div>
    <div style="padding-left:30px;">{TicketDescription}</div>
    <div style="padding-left:30px;">{TicketResolution}</div>

    <div style="padding-left:30px;">
        <p>{TicketUrl}</p>
    </div>
    <p></p>
</div>