
<head>
    <style type="text/css">
        .style1
        {
            width: 20px;
        }
    </style>
</head>
<table width="100%" style="border: 1px solid #DDDDDD; font-family:Georgia; font-size: 15px;">
    <tr>
        <td colspan="2" 
            
            
            style="color: #FFFFFF; background-color: #34A7E0; padding-top: 4px; padding-bottom: 4px;">
            Progress - Ticket completed</td>
    </tr>
    <tr>
        <td class="style1">
            &nbsp;
        </td>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            Ticket #{TicketId} - {TicketSubject}</td>
    </tr>
    <tr>
        <td class="style1">
            &nbsp;
        </td>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            <i>{TicketCreatorFullName},</i>
            <br />
            {TicketDescription}
        </td>
    </tr>
    <tr>
        <td class="style1">
            &nbsp;</td>
        <td style="padding-bottom: 8px; padding-top: 8px;" bgcolor="#DDDDDD">
            <i>{TicketResolverFullName},</i>
            <br />
            {TicketResolution}</td>
    </tr>
    <tr>
        <td class="style1">
            &nbsp;</td>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            {TicketUrl}</td>
    </tr>
</table>

