<head>
    <style type="text/css">
        .style1
        {
            width: 20px;
        }
    </style>
</head>
<table style="width: 100%; font-family:Georgia; font-size: 15px;">
    <tr>
        <td colspan="3" 
            
            style="color: #FFFFFF; font-size: 15px; background-color: #34A7E0; padding-top: 4px; padding-bottom: 4px;">
            Progress registration</td>
    </tr>
    <tr>
        <td class="style1">
            &nbsp;
        </td>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            Hello {FirstName},</td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="style1">
            &nbsp;
        </td>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            Welcome to <em>PROGRESS</em>. This email serves as confirmation that you have 
            been registered successfully.&nbsp; Compose your coworker list by visiting the 
            url below. </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="style1">
            &nbsp;</td>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            {ApplicationUrl}/Home/CoWorkers/</td>
        <td>
            &nbsp;</td>
    </tr>
    <tr>
        <td class="style1">
            &nbsp;</td>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            &nbsp;</td>
        <td>
            &nbsp;</td>
    </tr>
</table>
