
@if (new BetterTaskList.Models.Tickets.TicketRepository().GetUserDraftTickets(User.Identity.Name).Count() > 0)
{
            <h4>Drafts</h4>
		           <ul>
        		          @foreach (var ticket in new BetterTaskList.Models.Tickets.TicketRepository().GetUserDraftTickets(User.Identity.Name))
                            {
                                <li>Draft ticket #@Html.ActionLink(ticket.ToString(), "EditDraft", "Ticket", new { id = ticket }, null)  </li>
                            }
		           </ul>
}  
