@using (Html.BeginForm("PostComment", "Ticket", new { area = "Projects", id = Model.TicketId }, FormMethod.Post))
{		
    <div id="respond">
           @Html.TextArea("TicketCommentDetails", null, new {@style = "width:590px; color:#999999; border: 1px solid #CCCCCC; height:26px;" })
                <div style="text-align:right; padding-top:2px; ">
                    <input id="SubmitComment" type="submit" value="Post Comment" />
                </div>
    </div>

}
