@model BetterTaskList.Models.Ticket

Due: @Html.TextBox("TicketDueDate", string.Format("{0:M/d/yyyy}", Model.TicketDueDate),  new {@style = "Width:66px; Height: 20px; Text-align:center;"})

@*        
<div id="DueDate">Due:
     <input type="radio" id="DueToday" name="TicketDueDate" value=@DateTime.Now.Add(new TimeSpan(24, 0, 0)).ToShortDateString() /><label for="DueToday">Overnight</label>
     <input type="radio" id="DueTomorrow" name="TicketDueDate" value=@DateTime.Now.Add(new TimeSpan(48, 0, 0)).ToShortDateString()   checked="checked" /><label for="DueTomorrow">2nd Day</label>
     <input type="radio" id="DueThisWeek" name="TicketDueDate"  value=@DateTime.Now.Add(new TimeSpan(96, 0, 0)).ToShortDateString()  /><label for="DueThisWeek">Whenever</label>
</div>*@
    
<script type="text/javascript">
    $(function () {

//        $("#DueDate").buttonset();
        
        $("TicketDueDate").datepicker();

    });
</script>
