@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_FullWidthContent.cshtml";
}

<div style="float:left; width:40%;">
    &nbsp;
</div>

<div style="float:left;">
@using (Html.BeginForm())
{
    <div style="padding-left:10px; ">
        <div>Account email address</div>

        @Html.TextBox("UserEmailAddress", null, new { @Style = "Height: 26px; width:410px" }) <input type="submit" id="ResetPassword" value="Reset password" />
    </div>
}
</div>

<script type="text/javascript">
    $(function () {
        $("#ResetPassword").button();
    });
</script>

