            <div id="menu">
                  <ul style="margin-top:0px;">
                    <li><span>@Html.ActionLink("Tickets", "Queue", "Ticket", new { Area="Tickets" }, null)</span></li>
                  </ul>
            </div>

            @* TODO: implement search
            <form action="" id="search-form">
              <div class="wrapper">
                <input type="text" value="" />
                <input type="submit" value="" id="search-submit" />
              </div>
            </form>
            *@
