@if(User.Identity.IsAuthenticated)
{
<div class="widget-area">
    <div class="widget">
        <div class="widget-wrap">
            @using (@Html.BeginForm("SearchTickets", "Ticket", new { area = "Projects" }, FormMethod.Get, new {@class = "searchform" } ))
            {
    			<input type="text" onblur="if (this.value == '') {this.value = 'Search …';}" onfocus="if (this.value == 'Search …') {this.value = '';}" class="s" name="q" value="Search …" />
			    <input type="submit" value="Search" class="searchsubmit" />    
            }

	    </div>
    </div>
</div>
}    