  @if(User.Identity.IsAuthenticated){
       <div id="subnav">
            <div class="wrap">
                    <ul id="menu-secondary-navigation">
                        <li><a href="@Request.UrlReferrer">Go Back</a></li>
                        <li>@Html.ActionLink("New Ticket", "Create", "Ticket", new { area = "Projects" }, null)</li>
@*                        <li><a href="#">List by creator</a></li>
                        <li><a href="#">List by owner</a></li>*@
                    </ul>
            </div>
       </div>
  }