<head>
</head>
<table style="border: 1px solid #DDDDDD; width: 100%; font-family:Georgia; font-size: 15px;">
    <tr>
        <td style="color: #FFFFFF; font-size: 15px; background-color: #34A7E0; padding-top: 4px; padding-bottom: 4px;">
            Progress - Coworker request</td>
    </tr>
    <tr>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            Hello,</td>
    </tr>
    <tr>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            <i><b>{FullName}</b></i> would like to add you as a coworker. To approve the request click on the link below.</td>
    </tr>
    <tr>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            {ApplicationUrl}/Home/ConfirmCoWorker/{CoWorkerId}</td>
    </tr>
</table>
