<div style="float: left; font-family: Segoe UI; width: 100%;">
    <div style="height: 40px; background-color: #141414; color: #FFFFFF; font-family: Segoe UI;"><h1>Ticket #{TicketId} - {TicketSubject}</h1></div>
    <div style=""><p>{FullName} wrote,</p></div>
    <div style="padding-left:30px;">{TicketDescription}</div>

    <div style="font-family: Segoe UI; padding-left:30px;">
        <p>{TicketUrl}</p>
    </div>

    <div style="text-align:right; padding-bottom: 4px; padding-right:4px;">
        <img src="http://localhost/BetterTaskList/Content/Images/logo.gif" />
    </div>
</div>