
<head>
    <style type="text/css">
        .style1
        {
            width: 32px;
        }
    </style>
</head>
<table width="100%" style="border: 1px solid #DDDDDD; font-family:Georgia; font-size: 15px;">
    <tr>
        <td style="color: #FFFFFF; background-color: #34A7E0; padding-top: 4px; padding-bottom: 4px;" 
            colspan="2">
            Progress
            Ticket #{TicketId} - {TicketSubject}</td>
    </tr>
    <tr>
        <td class="style1" align="left" valign="top">
            <img alt="" src="{ApplicationUrl}/Content/Avatars/Default_32x32.png" /></td>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            <b><i>{FullName}</i></b> wrote,</td>
    </tr>
    <tr>
        <td class="style1">
            &nbsp;</td>
        <td style="border-color: #E8E1B5; border-style: solid; border-width: 1px; padding-bottom: 8px; padding-top: 8px;" 
            bgcolor="#FCF0BA">
            {TicketDescription}</td>
    </tr>
    <tr>
        <td class="style1">
            &nbsp;</td>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            {TicketUrl}</td>
    </tr>
</table>

