<head>
    <style type="text/css">
        .style1
        {
            width: 20px;
        }
    </style>
</head>
<table width="100%" style="border: 1px solid #DDDDDD; font-family: Georgia; font-size: 15px;">
    <tr>
        <td colspan="3" 
            
            style="color: #FFFFFF; background-color: #34A7E0; padding-top: 4px; padding-bottom: 4px;">
            Progress - Password Reset Request</td>
    </tr>
    <tr>
        <td class="style1">
            &nbsp;
        </td>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            Hello,</td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="style1">
            &nbsp;
        </td>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            Your request to reset your password was successful. Your new password is <strong>{NewPassword}</strong></td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="style1">
            &nbsp;</td>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            We recomend you change your password. To do so copy the password provided above and open the following link using your favorite browswer. You will first need to login using the new password.</td>
        <td>
            &nbsp;</td>
    </tr>
    <tr>
        <td class="style1">
            &nbsp;</td>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            {ApplicationUrl}/Account/ChangePassword</td>
        <td>
            &nbsp;</td>
    </tr>
</table>

