<div style="float: left; font-family: Segoe UI; width: 100%; border: 1px solid #000;">
    <div style="height: 30px; background-color: #141414; color: #FFFFFF; font-family: Segoe UI;"><strong>Ticket #{TicketId} - {TicketSubject}</strong></div>
    <div style=""><p>{FullName},</p></div>
    <div style="padding-left:30px;">{TicketDescription}</div>
    <div style="padding-left:30px;">{TicketResolution}</div>

    <div style="font-family: Segoe UI; padding-left:30px;">
        <p>{TicketUrl}</p>
    </div>

    <div style="text-align:right; padding-bottom: 4px; padding-right:4px;">
        <img src="http://localhost/BetterTaskList/Content/Images/logo.gif" />
    </div>
</div>