<head>
    <style type="text/css">
        .styleOne
        {
            width: 32px;
        }
    </style>
</head>
<table width="100%" style="border: 1px solid #DDDDDD; font-family:Georgia; font-size: 15px;">
    <tr>
        <td style="color: #FFFFFF; background-color: #34A7E0; padding-top: 4px; padding-bottom: 4px;" 
            class="style2" colspan="3">
            Comment posted on Ticket #{TicketId} - {TicketSubject}</td>
    </tr>
    <tr>
        <td style="padding-bottom: 8px; padding-top: 8px;" class="styleOne">
            <img alt="" src="../Avatars/Default_32x32.png" /></td>
        <td style="padding-bottom: 8px; padding-top: 8px;" class="style1" colspan="2">
            {CommentOwnerFirstName}: </td>
    </tr>
    <tr>
        <td style="padding-bottom: 8px; padding-top: 8px;" class="styleOne">
            &nbsp;</td>
        <td style="padding-bottom: 8px; padding-top: 8px;" class="styleOne">
            <img alt="" src="../Avatars/Default_32x32.png" /></td>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            {CommenterFirstName}: {CommenterComment}</td>
    </tr>
    <tr>
        <td style="padding-bottom: 8px; padding-top: 8px;" class="styleOne">
            &nbsp;</td>
        <td style="padding-bottom: 8px; padding-top: 8px;" class="styleOne">
            &nbsp;</td>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            {TicketCommentDetails}</td>
    </tr>
    <tr>
        <td style="padding-bottom: 8px; padding-top: 8px;" class="styleOne">
            &nbsp;</td>
        <td style="padding-bottom: 8px; padding-top: 8px;" class="styleOne">
            &nbsp;</td>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            {TicketUrl}</td>
    </tr>
</table>



