<head>
    <style type="text/css">
        .style3
        {
            width: 32px;
        }
        .style4
        {
            width: 96%;
        }
    </style>
</head>
<table width="100%" style="border: 1px solid #DDDDDD; font-family:Georgia; font-size: 15px;">
    <tr>
        <td style="color: #FFFFFF; background-color: #34A7E0; padding-top: 4px; padding-bottom: 4px;" 
            colspan="2">
            Comment posted on Ticket #{TicketId} - {TicketSubject}</td>
    </tr>
    <tr>
        <td align="left" class="style3" valign="top">
            <img alt="" src="{ApplicationUrl}/Content/Avatars/Default_32x32.png" /></td>
        <td style="padding-bottom: 8px; padding-top: 8px;" class="style4">
            <b><i>{FirstName}</i></b> wrote,</td>
    </tr>
    <tr>
        <td style="padding-bottom: 8px; padding-top: 8px;" class="style3">
            &nbsp;</td>
        <td style="padding-bottom: 8px; padding-top: 8px;" class="style4">
            {TicketCommentDetails}</td>
    </tr>
    <tr>
        <td style="padding-bottom: 8px; padding-top: 8px;" class="style3">
            &nbsp;</td>
        <td style="padding-bottom: 8px; padding-top: 8px;" class="style4">
            {TicketUrl}</td>
    </tr>
</table>



