
<head>
    <style type="text/css">
        .style1
        {
            width: 20px;
        }
    </style>
</head>
<table width="100%" style="border: 1px solid #DDDDDD; font-family:Georgia; font-size: 15px;">
    <tr>
        <td 
            
            
            
            style="color: #FFFFFF; background-color: #34A7E0; padding-top: 4px; padding-bottom: 4px;">
            Progress - Ticket completed</td>
    </tr>
    <tr>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            Ticket #{TicketId} - {TicketSubject}</td>
    </tr>
    <tr>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            <i><b>{TicketCreatorFullName}</b>,</i>
            {TicketDescription}
        </td>
    </tr>
    <tr>
        <td style="border-color: #E8E1B5; border-style: solid; border-width: 1px; padding-bottom: 8px; padding-top: 8px;" 
            bgcolor="#FCF0BA">
            <i><b>{TicketResolverFullName}</b>,</i>
            {TicketResolution}
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 8px; padding-top: 8px;">
            {TicketUrl}</td>
    </tr>
</table>

