<head>
    <style type="text/css">
        .style1
        {
            width: 20px;
        }
        .style2
        {
            width: 1425px;
        }
    </style>
</head>
<table width="100%" 
    style="border: 1px solid #DDDDDD; font-family:Georgia; font-size: 15px;">
    <tr>
        <td colspan="2" 
            
            
            style="color: #FFFFFF; font-size: 15px; background-color: #34A7E0; padding-top: 4px; padding-bottom: 4px;">
            Progress registration</td>
    </tr>
    <tr>
        <td class="style1">
            &nbsp;
        </td>
        <td style="padding-bottom: 8px; padding-top: 8px;" class="style2">
            Hello {FirstName},</td>
    </tr>
    <tr>
        <td class="style1">
            &nbsp;
        </td>
        <td style="padding-bottom: 8px; padding-top: 8px;" class="style2">
            Welcome to <em>PROGRESS</em>. This email serves as confirmation that you have 
            been registered successfully.&nbsp;We thank you for registering and hope <i>
            PROGRESS</i> serves your needs. Begin by composing your coworker list; simply visit the 
            url below. </td>
    </tr>
    <tr>
        <td class="style1">
            &nbsp;</td>
        <td style="padding-bottom: 8px; padding-top: 8px;" class="style2">
            {ApplicationUrl}/Home/CoWorkers/</td>
    </tr>
    <tr>
        <td class="style1">
            &nbsp;</td>
        <td style="padding-bottom: 8px; padding-top: 8px;" class="style2">
            Visit our <a href="http://bettertasklist.com">blog</a> to find the most recent 
            developments or to get support. </td>
    </tr>
    <tr>
        <td class="style1">
            &nbsp;</td>
        <td style="padding-bottom: 8px; padding-top: 8px;" class="style2">
            Sincerely,</td>
    </tr>
    <tr>
        <td class="style1">
            &nbsp;</td>
        <td style="padding-bottom: 8px; padding-top: 8px;" class="style2">
            - The Better Task List Team</td>
    </tr>
</table>
